body#back{
    text-align: center;
    font-family: Arial, Times, Serif;
    height:100%;

    background-image: url(../imagens/mansao2.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    /*background-size: 100% 450px;*/
    background-size: cover 450px;
}

body#authentication{
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box{
    opacity: 0.9;
    position: absolute;
    top: 80px;
    left: 25%;
    background: white;
    color:black;
    /*Content*/
    height: 300px;
    width: 50%;
    /* Padding*/
    /*padding-top: 100px;*/
    padding-left: 10px;

    /*Border*/
    border-radius: 30px;

    margin:auto;
}

#cadastroImovel{
    position: relative ;
    top: 80px;
}

h1#cadastro{
    position: relative;
    left: 40%;
}


.form-group{
    position: center;
    justify-content: center;
}

form .container .row .tipo-transacao{
    top: 40px;
}

.footer{
    background: black;
    min-height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    height: auto;
    text-align: center;
    position: absolute;
    bottom: 0;
}

#rodapeCadastro{
    background: black;
    min-height: 100px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    height: auto;
    text-align: center;
}

