body#back{
    text-align: center;
    font-family: Arial, Times, Serif;
    height:100%;
/*
    background-image: url(../imagens/mansao2.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    /*background-size: 100% 450px;*/
    background-size: cover 450px;
}

body#authentication{
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box{
    opacity: 0.9;
    position: absolute;
    top: 80px;
    left: 25%;
    background: white;
    color:black;
    /*Content*/
    height: 300px;
    width: 50%;
    /* Padding*/
    /*padding-top: 100px;*/
    padding-left: 10px;

    /*Border*/
    border-radius: 30px;

    margin:auto;
}

#cadastroImovel{
    position: relative ;
    top: 80px;
}

img#logo{
    height: 40px;
    width: 100px;
}

h1#cadastro{
    text-align: center;
}

h1#cadastroUserF{
    text-align: center;
}
/*
h1#anuncio{
    top: 300px;
    text-align: center;
}
*/
.form-group{
    position: center;
    justify-content: center;
}

form .container .row .tipo-transacao{
    top: 40px;
}

.rodape{
    background: #F8F8F6;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    height: auto;
    text-align: center;
}

#rodape{
    background: #F8F8F6;
    position: relative;
    color: black;
    height: auto;
    bottom: 0;
    padding-bottom: 30px
}

#rodape2{
    background: #F8F8F6;
    position: relative;
    color: black;
    height: auto;
    bottom: 0;
    padding-bottom: 30px
}

#rodape3{
    background: #F8F8F6;
    position: relative;
    color: black;
    height: auto;
    bottom: 0;
    padding-bottom: 30px
}

.contato{
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

div#card1{
    left: 820px;
    top: 500px;    
}

.icon-venda{
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#imoveis{
    top: 50px;
    text-align: center;
}

#linha {
    border-bottom: solid 1.5px #000;
}


